{% extends "posts/base.html" %}
{% block title %}Статья:{{ article.title }}{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <figure class="figure">
            <img src="{{ article.author.avatar.url }}"
                 class="rounded-circle" style="width: 50px; height: 50px"  alt="User Image">
            <figcaption class="figure-caption">{{ article.author.username }}
            </figcaption>
        </figure>
    </div>
    <h6 class="text-muted">{{ article.category.name }}</h6>
    <h1>{{ article.title }}</h1>
    {% if article.image %}
        <img src="{{ article.image.url }}" alt="image">
    {% endif %}
    <p>{{ article.content }}</p>
    {% if article.created_at != article.updated_at %}
    <p class="text-muted">{{ article.updated_at}} <i>(ред.)</i></p>
    {% else %}
    <p class="text-muted">{{ article.created_at }}</p>
    {% endif %}
    <p class="text-muted">👁️: {{ article.views }}</p>
    {% if article.author == user %}
    <div class="row">
        <div class="col-2">
            <a href="{% url 'posts:article_edit' article.pk %}"
               class="btn btn-secondary">Редактировать</a>
        </div>
        <div class="col-1">
            <a href="{% url 'posts:article_delete' article.pk %}"
               class="btn btn-danger">Удалить</a>
        </div>

    </div>
    {% endif %}

</div>
<div class="card">
    {% if user.is_authenticated %}
    {% include "posts/comment_form.html" %}
    {% else %}
    <p><a href="{% url 'users:login' %}">Войдите</a> или <a href="{% url 'users:login' %}">зарегистрируйтесь</a>, чтобы оставить комментарий</p>
    {% endif %}
    <h2>Комментарии</h2>
    <ul class="list-group">
        {% for comment in article.comments.all %}
        <li class="list-group-item">
            <p>{{ comment.author.username }}</p>
            <p>{{ comment.content }}</p>
            <p class="text-muted">{{ comment.created_at|date:"H:i d.m.Y" }}</p>
            {% if comment.author == user %}
            <button type="button" class="btn btn-danger" onclick="location.href='{% url 'posts:comment_delete' comment.pk %}'">Удалить
            </button>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}