    {% extends "posts/base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
{% if articles %}
<ul class="list-group">
    {% for article in articles %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-8"  onclick="location.href='{% url 'article_detail' article.pk %}'"  style="cursor: pointer;">
                    <h2>{{ article.title|title }}</h2>
                    <h5>Author: {{ article.author }}</h5>
                    <h3>{{ article.content|truncatechars:20 }}</h3>

                    <p>👁️: {{ article.views }}   💬: {{ article.comments_count }}</p>
            </div>
            <div class="col">
                <a href="{% url 'article_edit' article.pk %}"
                   class="btn btn-secondary">Редактировать</a>
            </div>
            <div class="col">
                <a href="{% url 'article_delete' article.pk %}"
                   class="btn btn-danger">Удалить</a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{# Навигация по страницам #}
<div class="pagination">
<span class="step-links">
{% if page_obj.has_previous %}
<a href="?page=1">« первая</a>
<a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
{% endif %}
<span class="current">
Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
</span>
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">следующая</a>
<a href="?page={{ page_obj.paginator.num_pages }}">последняя »</a>
{% endif %}
</span>
</div>
{% else %}
<p>Нет доступных статей.</p>
{% endif %}
{% endblock %}