<nav>
    <div class="nav-links">
        <a href="{%  url 'article_list' %}">Главная</a>

        <a href="{% url 'about' %}">О нас</a>
        <a href="{% url 'contacts' %}">Контакты</a>
        {% if user.is_authenticated %}
        <a href="{% url 'article_create' %}">Создать пост</a>
        {% endif %}

    </div>

    {% if user.is_authenticated %}
    <div class="nav-links">
        <p><a href="{% url 'users:profile' %}">{{ user.username }}</a></p>
        <form action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Выйти</button>
        </form>
    </div>
    {% else %}
    <a href="{% url 'users:login' %}" class="btn btn-primary">Войти</a>
    {% endif %}
</nav>