{% extends 'posts/base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="container">
<h1>Профиль</h1>
    {% if user.avatar %}
        <img src="{{     user.avatar.url }}" alt="User avatar" width="200">
    {% endif %}
    <form method="post" class="post-form" action="{% url 'users:profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.errors }}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="row">
                {{ field }}<br>
                <div class="form-error">{{ field.errors }}</div>
                </div>
            </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Обновить">
    </form>

</div>

{% endblock %}