{% extends 'posts/base.html' %}

{% block content %}
    <h1>Reset password</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="row">
                {{ field }}<br>
                <div class="form-error">{{ field.errors }}</div>
                </div>
            </div>
        {% endfor %}
        <button type="submit">Reset password</button>
    </form>
{% endblock content %}